.questionContainer {
    font-size: 12px;
    font-weight: bold;
    justify-content: center !important;
    color: #1e63ac !important;
}

.questionContainer > div{
    justify-content: center !important;
}

.answerContainer {
    font-weight: bold;
}