
.leaderBoardRow {
  position: absolute; /* Absolute to allow smooth gliding */
  width: 100%; /* Full width of the container */
  margin: 0 0 5px 0;
}
.rowContent {
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  align-items: center;
}

.new {
  transform: translateY(400px); /* Position new entries 400px below */
  opacity: 0;
}


.rank {
  font-weight: bold;
  width: 30px;
  text-align: center;
}
/* #5f9df5 */

.name {
  text-align: left;
  padding-left: 10px;
}

.value {
  width: 60px;
  text-align: center;
  font-weight: bold;
  margin: 0 0 0 0;
}

.subValue {
  width: 60px;
  font-size: 10px;
  font-weight: bold;
  margin: 0.2em 0 0 0;
}

.default {
  font-size: 12px;
}

.xl {
  padding: 8px 10px;
}
.large {
  padding: 10px;
}
.small {
  padding: 7px 10px;
}

.gold {
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: #fff;
  background-image: url("../../../public/gold.png");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

.silver {
  font-size: 14px;
  line-height: 1;
  text-align: center;
  color: #fff;
  background-image: url("../../../public/silver.png");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

.bronze {
  font-size: 13px;
  line-height: 1;
  text-align: center;
  color: #fff;
  background-image: url("../../../public/bronze.png");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

.gold .small,
.silver .small,
.bronze .small {
  min-height: 16px;
}

.gold .large,
.silver .large,
.bronze .large {
  min-height: 18px;
}

.gold .xl,
.silver .xl,
.bronze .xl {
  min-height: 25px;
}

@keyframes shine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%; /* Move to the far right for continuous scroll */
  }
}

@media (max-width: 1824px) {

}

@media (max-width: 1224px) {

}

@media (max-width: 768px) {
  .gold {
    font-size: 14px;
  }
  .silver {
    font-size: 13px;
  }
  .bronze {
    font-size: 12px;
  }
  .default {
    font-size: 10px;
  }
  .value{
    margin-right: 5px;
  }
}

@media (max-width: 480px) {
  
}
