.leadingUserContainer{
    height: 80px;
}
.leadingUserTitle{
    margin: 0 0 0 0;
    padding: 7px 0px; 
    font-size: 12px;
    font-weight: bold;
    color: white;
    background: #0567a6;
}
.goldBackground{
    background-image: url("../../../public/img/bluegold.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}