.App {
  text-align: center;
}

.visContainer {
  display: flex;
  justify-content: space-between;
  height: 85vh;
  margin-bottom: 3em;
}

.coreVisContainer {
  flex: 2;
  background: #1666ba;
  filter: drop-shadow(5px 4px 4px rgba(20,20,20,0.4));
  border-radius: 8px;
}

/* .supportingVisContainer {
  flex:0.25;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.supportingContentContainer {
  flex:2;
  margin-left: 40px;
}

.tabModule{
  margin-bottom: 0.5em;
  width: 250px;
}

.supportingVisContainer {
  height: 200px;
  flex: 2;
  display: grid;
  gap: 5px 20px;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-template-rows: auto auto auto; /* Two rows */
}

.fullContainer {
  width: 40%;
  margin: 5em auto 5em;
}

.leadingUserModule {
  grid-column: 1 / span 2;
  grid-row: 1;
  background: rgba(0, 0, 0, 0.05);
  filter:drop-shadow(1px -1px 2px rgba(20, 20, 20, 0.2)) /* top shadow */        
  drop-shadow(1px 0px 1px rgba(20, 20, 20, 0.2))  /* right shadow */        
  drop-shadow(-1px 0px 2px rgba(20, 20, 20, 0.2));
  background:#1666ba;
}

/* "Top Rating" leaderboard spanning two rows */
.leaderboardItem1 {
  grid-column: 1; /* First column */
  grid-row: 2 / span 2; /* Spans two rows */
}

/* "Top Win Rate" leaderboard in the first row of the second column */
.leaderboardItem2 {
  grid-column: 2; /* Second column */
  grid-row: 2; /* First row */
}

/* "Top Countries" leaderboard in the second row of the second column */
.leaderboardItem3 {
  grid-column: 2; /* Second column */
  grid-row: 3; /* Second row */
  margin-top: 22em;
}

.topThreeVis, .winRateVis, .countryVis {
  background-color: #1666ba;
  flex: 0.3;
  filter: drop-shadow(2px 4px 4px rgba(20,20,20,0.4));
  border-radius: 8px;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 8pt;
  line-height: 12pt;
  background: #ffffff;
  color: #555555;
}

.axis path, .axis line {
  fill: none;
  stroke: #555555;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: orange;
  stroke-width: 1px;
}

body {
  background: #5a9de3;
  margin: 0;
  padding: 0;
  font: 10px sans-serif;
}

text {
  fill: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis path {
  stroke: #aaa;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
}

.data {
  stroke: #fff;
  stroke-width: 2px;
}

.average-50 {
  stroke: #0ff;
}

.average-25 {
  stroke: #ff0;
}

/* src/App.css */
.App {
  text-align: center;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar li a:hover {
  text-decoration: underline;
}

.visContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.faq {
  padding: 20px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 7em;
  margin-bottom: 15em;
  background: rgb(43, 119, 198);
}

.faq h1 {
  margin-bottom: 20px;
  color: white;
}

.faq h2 {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}

.faq p {
  margin-top: 5px;
  color: #555;
}

.faqSection {
  margin-top: 3em;
  color: white;
}

@media (max-width: 1824px) {
  .fullContainer {
    width: 50%;
  }
}

@media (max-width: 1224px) {
  .fullContainer {
    width: 60%;
  }
}

@media (max-width: 1100px) {
  .leadingUserModule {
    display: none;
  }

  .visContainer {
    flex-direction: column; /* Stack LineChart on top, LeaderBoard below */
    align-items: center;
    height: auto;
  }

  .supportingContentContainer {
    width: 100%;
    margin: 2em 0 30em 0;
  }

  .supportingVisContainer {
    grid-template-columns: 1fr 1fr; /* Single column layout */
    grid-template-rows: auto auto; /* Three rows for each leaderboard */
    width: 100%; /* Full width on small screens */
    height: 20em;
  }

  .leaderboardItem1 {
    grid-column: 1; /* First column */
    grid-row: 1 / span 2; /* Spans two rows */
  }
  
  /* "Top Win Rate" leaderboard in the first row of the second column */
  .leaderboardItem2 {
    grid-column: 2; /* Second column */
    grid-row: 1; /* First row */
  }
  
  /* "Top Countries" leaderboard in the second row of the second column */
  .leaderboardItem3 {
    grid-column: 2; /* Second column */
    grid-row: 2; /* Second row */
    margin-top: 22em;
  }
  .fullContainer {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .tabModule{
    width: 225px;
  }
}

@media (max-width: 750px) {
  .fullContainer {
    width: 95%;
  }
  .faq {
    width: 85%;
  }
}

@media (max-width: 480px) {

  .faq {
    width: 80%;
  }

  .visContainer {
    padding: 10px;
  }

  .supportingVisContainer {
    gap: 10px;
  }

  .leaderboardItem3 {
    grid-column: 2; /* Second column */
    grid-row: 2; /* Second row */
    margin-top: 24em;
  }

  .leaderboardItem1,
  .leaderboardItem2,
  .leaderboardItem3 {
    font-size: 0.9em; /* Smaller font size for compact layout */
  }
}
