
.leaderBoardRow {
  position: absolute; /* Absolute to allow smooth gliding */
  width: 100%; /* Full width of the container */
  margin: 0 0 5px 0;
}
.rowContent {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 12px;
}

.rank {
  font-weight: bold;
  width: 30px;
  text-align: center;
}

.name {
  text-align: left;
  padding-left: 10px;
}

.value {
  width: 60px;
  text-align: right;
  font-weight: bold;
  margin-right: 10px;

}