.settingsContainer {
    background: #1e63ac;
    min-height: 380px;
    padding-bottom: 2em;
    margin-bottom: 5em;
    width: 100%;
    filter: drop-shadow(2px 4px 4px rgba(20,20,20,0.4));
}

.lineChartModeButtonContainer{
    display: flex;
    justify-content: space-evenly;
}

.lineChartModeContainer {
    padding-top: 3em;
}

.gameModeContainer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
}

.settingsButton {
    display: flex !important;
    background: white !important;
    width: 120px !important;
    justify-content: space-evenly !important;
    border-radius: 15px !important; 
    padding: 3px 15px !important; 
    border: 1px solid gray !important; 
    line-height: 1 !important;
}

.settingsButtonText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-transform: none;
    font-weight: bold;
}

.settingsButtonText p{
    margin: 0;
}

.settingsButtonTextSmall {
    font-size: 10px;
}

.lineChartModeSubtextContainer p {
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.disabled {
    background: gray !important;
    opacity: 0.9;
}

.settingsSelect {
    background: white;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}

.settingsLabel {
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-right: 1em;
    align-self: center;
}

.setting {
    display: flex;
    justify-content: center;
}

.settingsGroup1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3em;
}

.settingsGroup2 {
    margin-top: 1em;
}

.settingsGroup4 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.generateChartButtonContainer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
}

.selected {
    border: 2px solid #ADD8E6 !important;
}

.notSelected {
    background: lightgray !important;
}

.buttonImage {
    width: 25px;
    height: 25px;
}

.comingSoon {
    min-height: 44px;
}

.buttonHeaderText {
    color: white;
    font-weight: bold;
}

.buttonHeadTextEmpty {
    margin-bottom: 17px;
}

.buttonHeadTextNonEmpty {
    margin: 0 0 5px 0;
}

#generateChartButton {
    padding:10px !important;
}

@media (max-width: 550px) {
    .lineChartModeButtonContainer{
        display: grid;
        gap: 10px 20px;
        grid-template-columns: 1fr 1fr; /* Two columns */
        grid-template-rows: auto auto auto; /* Two rows */
        padding: 0 20px;
    }
    .lineChartModeButton {
        margin:auto;
    }
    .lineChartModeText {
        margin: 0 0 2em 0;
    }

    .settingsGroup1{
        display: grid;
        gap: 10px 20px;
        grid-template-columns: 1fr 1fr; /* Two columns */
        grid-template-rows: auto auto auto; /* Two rows */
        padding: 0 20px;
    }
}

@media (max-width: 480px) {
    
    .comingSoon {
        min-height: 40px;
    }
    .lineChartModeSubtextContainer p {
        margin-top: 2em;
        font-size: 10px;
    }
    .settingsGroup1 {
        display: grid;
        padding: 30px 30px 0px;
        gap: 20px 0px;
        grid-template-columns: 1fr 1fr; /* Two columns */
        grid-template-rows: auto auto; /* Two rows */
    }
    /* .setting1 {
        grid-column: 1;
        grid-row: 1;
    } */
    /* .setting2 {
        grid-column: 2;
        grid-row: 1;
    } */
    /* .setting3 {
        grid-column: 1 / span 2;
        grid-row: 2;
    } */
    .settingsLabel {
        font-size: 11px;
    }

    #generateChartButton p {
        font-size: 12px;
    }
    .settingsGroup4 {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}